elasticsearch
python-dotenv # manage env vars

requests
types-requests
bs4 # beautiful soup crawler

pytest # run tests
pytest-dependency

flake8 # code style
flake8-pyproject # add pyproject.toml support for flake8 configuration
black # code formatter
mypy # static type checker

selenium # to use Chrome Driver to parse dynamic JS loaded webpages